<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <main class="container">
        <section>
            <form action="" method="get"> <!-- Formulário GET -->
                <h3>USANDO GET</h3>
                <input type="text" name="pesquisar" placeholder="pesquisa"> <!-- campo pesquisa -->
                <div>
                    <button type="submit">pesquisa</button>
                </div>
            </form>
        </section>

        <hr>
        <p>voce digitou GET: {{ pesquisar_get }}</p>

        <hr>

        <section>
            <h3>USANDO POST</h3>
            <form action="" method="post"> <!-- Formulário POST -->
                <input type="text" name="pesquisar" placeholder="pesquisa"> <!-- campo pesquisa -->
                <button type="submit">pesquisa</button>
                <p>voce digitou POST: {{ request.form.get('pesquisar', '') }}</p>
            </form>
        </section>
    </main>
</body>

</html>